body {
    background-image: url(https://i.pinimg.com/736x/4b/62/04/4b6204d369c8043d25419458d00dfbb9.jpg);
	padding: 50px 0px 0px 0px;
}

aside, main section {
	background-color: #ffffff;
	border: 1px solid #ffd1dc;
	box-shadow: 0px 0px 8px 8px #f5adbe;
	flex: 3;
	margin-right: 15px;

}